html {
  transition: background-color 0.2s ease;
  height: clamp(100vh, 100vh, 100vh);
  width: clamp(100vw, 100vw, 100vw);
  overflow: hidden;
  background-color: #199473;
}

html[data-transition="fade"] {
  background-color: #000;
}

body {
  margin: 0;
  height: clamp(100dvh, 100dvh, 100dvh);
  width: clamp(100dvw, 100dvw, 100dvw);
  aspect-ratio: 9/16;
  overflow: hidden;
  color: #fff;
}

body > * {
  transition: opacity 0.2s ease;
  opacity: 1;
}

html[data-transition="fade"] body > * {
  opacity: 0;
}

img {
  height: 250px;
  width: 250px;
}
